@use "variables" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; // hauteur de ton header (ajuste si besoin)
}

body {
  font-family: $font-main;
  font-size: $font-size-base;
  margin: 0;
  background-color: $color-bg;
  color: $color-g-dark;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title, sans-serif;
  color: $color-g-dark;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section:first-of-type {
  padding-bottom: 4rem;
}

section:last-of-type {
  padding-bottom: 4rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}