// 🎨 Palette de couleurs
$color-primary: #ffce43;
$color-dark: #1E1E1EFF;
$color-light: #ffffff;
$color-accent: #4A4949FF;

// 📝 Typographie
$font-main: 'Montserrat', system-ui, sans-serif;
$font-size-base: 16px;
$font-size-title: 2rem;
$font-title: 'Fira Sans', system-ui, sans-serif;

// 📐 Espacements
$spacing-section: 4rem;
$spacing-between-section: 4rem;
$spacing-container: 1.5rem;