@use "../variables" as *;

.realisations-carousel {
  padding: $spacing-section 1rem;
  text-align: center;
  background-size: 75vh;
  background-repeat: no-repeat;
  background-image: url("/images/backgrounds/bg-trees-pattern.svg");
  background-position: right -20% bottom;

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: .5rem;
  }

  p {
    margin-top: 0;
  }

  .glide {
    position: relative;
    margin-top: 3rem;

    &__slide {
      text-align: center;
      transform: scale(0.8);
      transition: transform 0.4s ease;
      opacity: 0.6;

      img {
        width: 100%;
        max-width: 320px;
        border-radius: 12px;
      }

      .title {
        margin-top: 1rem;
        font-size: 1.1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    .glide__slide.glide__slide--active {
      transform: scale(1);
      opacity: 1;
      z-index: 2;
    }

    .glide__arrow {
      background: none;
      border: none;
      font-size: 2rem;
      color: $color-g-dark;
      cursor: pointer;
      position: absolute;
      top: calc(50% - 60px);
      z-index: 5;

      &--left {
        left: -1.5rem;
      }

      &--right {
        right: -1.5rem;
      }
    }

    .glide__bullets {
      margin-top: 0;
    }
  }
}