@use "../variables" as *;

.services-section {
  background-size: auto 110%;
  background-image: url("/images/backgrounds/bg-sticks-pattern.svg");
  background-position: right 75% center;
  border-top: 5px solid $color-g-light;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;

    .service-item {
      color: $color-g-dark;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.05);
      transition: transform 0.3s;
      border: 1px solid $color-g-light;
      background: $color-light;

      &:hover {
        transform: translateY(-5px);
      }

      h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      p {
        font-size: 0.95rem;
      }

      ul {
        text-align: left;
        padding-left: 1rem;
      }
    }
  }

  .btn {
    padding: 1rem 4rem;
  }
}