@use "../variables" as *;
@use "../mixins" as m;

.site-footer {
  background: $color-g-dark;
  color: $color-light;
  text-align: center;

  .footer__first-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;

    @include m.respond(tablet) {
      flex-direction: row;
      align-items: center;

      p {
        text-align: left;
      }
    }

    p {
      align-items: center;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      color: $color-light;

      span {
        color: $color-g-light;
        font-style: italic;
        font-size: 0.8rem;

        a {
          color: $color-g-light;
          tdecoration: underline;
        }
      }
    }
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    a {
      display: inline-flex;
      align-items: center;

      img {
        height: 24px;
        width: 24px;
        opacity: 0.7;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}