@use "../variables" as *;
@use "sass:color";

.site-header {
  background-image: linear-gradient(180deg,$color-bg 95%,rgba(255,255,255,0) 100%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0;
  }

  .logo {
    line-height: 0;
    svg {
      height: 90px;
    }
  }

  .main-nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: $color-g-dark;
      font-weight: 500;
      transition: color 0.2s ease;

      &:hover {
        opacity: 0.8;
      }

      &.cta {
        background: $color-g-light;
        color: $color-g-dark;
        padding: 0.6rem 1rem;
        border-radius: 8px;
        font-weight: 600;
        transition: background 0.3s ease;
        border: 1px solid $color-g-light;

        &:hover {
          background: $color-g-dark;
          color: $color-g-light;
          border-color: $color-g-light;
        }
      }
    }
  }

}