<footer class="site-footer">
  <div class="container">
    <p>&copy; {{ now.Year }} L'Éco Forge du Web — Tous droits réservés.</p>
    <div class="footer-socials">
      <a href="https://www.facebook.com/lecoforgeduweb" target="_blank" aria-label="Facebook">
          {{ partial "icons/facebook-svg.html" . }}
      </a>
      <a href="https://www.instagram.com/leco_forgeduweb/" target="_blank" aria-label="Instagram">
          {{ partial "icons/instagram-svg.html" . }}
      </a>
      <a href="https://www.linkedin.com/in/thomas-dufoss%C3%A9-michelangeli" target="_blank" aria-label="LinkedIn">
          {{ partial "icons/linkedin-svg.html" . }}
      </a>
        <a href="https://github.com/ThomasLFDW" target="_blank" aria-label="Github">
            {{ partial "icons/github-svg.html" . }}
        </a>
    </div>
  </div>
</footer>